@charset "UTF-8";
/* CSS Document */
body {    
	margin: 0 10%;  
	font-family: 'Roboto';  
	background-image: url("../images/geometric-leaves.png");
}

header {
	background-color: cadetblue;
	padding: 2em;
}

h1 {  
	color: white;
	font-size: 2em;
	font-family: 'Bebas Neue';
}

h2 {   
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

img {
	max-width: 100%;
}

footer { 
	text-align: center;
}

/* Navigation */
nav { 
	background-color: #525252;
	padding: 0 1em;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
}

nav ul {
	margin: 0;
	padding: 0; 
	list-style: none;
	display: flex;
	flex-flow: row wrap;
}

nav li {
	margin: 0 0.5em;
}

nav a, nav a:visited {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.125rem;
	padding: 1em;
	display: block;
	transition: ease-in-out 250ms;
}

nav a:hover {
	background-color: cadetblue;
	color: #ffffff;
}
/* Grid System */
.container {
	display: grid; 
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 10px;
	background-color: #ffffff;
}

header {
	grid-column: 1 / span 12;
}

nav {
	grid-column: 1 / span 12;
}

footer {
	grid-column: 1 / span 12;
}

/* Home */
.home_section {
	grid-column: 1 / span 8;
}

.home_aside {
	grid-column: 9 / span 3;
}

/* Work */
.work_heading {
	grid-column: 1 / span 12;
}

.work_section {
	grid-column: 1 / span 12;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

/* Contact */
.contact_section {
	grid-column: 1 / span 4;
}

.contact_aside {
	grid-column: 5 / span 8;
}

/* Elements */
.btn {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	background-color: cadetblue;
	font-size: 1rem;
	padding: 0.5em 1.5em;
	border-radius: 5px;
	transition: background-color 250ms;
}

.btn:hover {
	background-color: #525252;
}

.card {
	text-align: center;
	margin: 1em;
	padding-bottom: 2em;
	box-shadow: #525252 0px 0px 5px;
	max-width: 27.5%;
}

.card_title {
	margin: 0.5em 0 0 0;
}

.card_text {
	padding: 0 2em 0.5em;
}

